.Applicant {
    width: 305px;
    height: 241px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgb(190, 188, 188);
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}
